
body{
    background:#000811;
    color:#aaaabb;
    margin:0;
    font-weight:300;
    font-family:"Rajdhani", Sans-Serif;
}
a{-webkit-tap-highlight-color:transparent;}
#cntnr{
    margin:10px;
    border-radius:5px;
    overflow:hidden;
    display:grid;
    grid-template-columns:40px auto 30px;
    grid-template-rows:40px 30px auto;
    grid-gap:5px;
}
.home-ico{
    background:#aaaaaa28;
    border-radius:5px;
    height:40px;
    width:40px;
    fill:none;
    stroke:#aaaaaa;
    stroke-width:2px;
    stroke-linejoin:round;
    stroke-linecap:round;
}
.home-ico:active{background:#aaaaaa88;}
h1{
    background:#aaaaaa28;
    margin:0;
    padding:2px 10px;
    line-height:40px;
    border-radius:5px;
    font-weight:300;
    grid-column: span 2;
}
input{
    background:#aaaaaa28;
    color:#ddddee;
    border:2px solid #44444408;
    border-radius:5px;
    font-size:1.2em;
    padding:0 5px ;
    outline:0;
    grid-column: span 2 ;
}
input::placeholder{
    color:#ffffff33;
}
input:focus{
    border:2px solid #44444488;
}
button{
    background:#00bfff22;
    color:#aaaaaa;
    font-size:1.5em;
    font-weight:700;
    line-height:26px;
    outline:0;
    border:2px solid #aaaaaa44;
    border-radius:5px;
}
button:active{border:2px solid #00bfff88;}
#disp{
    background:#aaaaaa28;
    border-radius:5px;
    padding:15px;
    text-align:center;
    font-size:1.2em;
    grid-column:span 3;
}

.high-lyt{
    color:#00bfff;
}
#info{
    position:fixed;
    padding-left:2px;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    width:90%;
    background:#000000;
    border:1px solid #aaaabb ;
    display:none;
    height:0;
    overflow:auto;
}
#info-close{
    height:28px;
    width:28px;
    fill:none;
    stroke:#aaaabb;
    stroke-width:3px;
    stroke-linecap:round;
    float:right;
}
#info-close:active{
    stroke:#ff0000;
}